/* Resetear estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Estilo para el formulario de inicio de sesión */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ebe9e9;
}

form {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: rgba(111, 99, 186, 255);
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#mensaje {
    text-align: center;
    margin-top: 20px; /* Agregamos un margen superior para separar el mensaje del botón */
}

.boton{
    text-align: center;
    margin-top: 20px;
}

.btn {
    background: rgba(113, 99, 186, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #6f63ba;
}
