@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, 
.active{
    background: #e0e0e058
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.btn {
    background: rgba(113, 99, 186, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* ----Seccion del cuerpo (body) principal---- */
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background: #fff;
   border-radius: 10px;
   padding: 10px 2rem;
   margin-bottom: 1rem;
 }
 .header--title{
    color: rgba(111, 99, 186, 255);
 }
 .user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
 }
 .search--box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(111, 99, 186, 255);
    display: flex;
    align-items: center;
    padding: 4px 12px;
    gap: 5px;
 }
 .search--box input{
    background: transparent;
    padding: 10px;
 }
 .search--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
 }
 .search--box i:hover{
    transform: scale(1.2);
 }

 /* ---- Card container ---- */
 .card--container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
 }
.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main--title{
    color: rgba(111, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}
.payment--card{
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment--card:hover{
    transform: translateY(-5px);
}
.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 12px;
    font-weight: 200;
}
.amount--value{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: red;
}
.card-detail{
    font-size: 14px;
    color: #777777;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

/* color css */
.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green{
    background: rgb(235, 254, 235);
}
.light-blue{
    background: rgb(236, 236, 254);
}
.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}

/* ---- Seccion de tabla ---- */
.tabular--wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
    width:100%;
}
.table-container{
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: rgba(113, 99, 186, 255);
    color: #fff;
}
th{
    padding: 15px;
    text-align: center;
}
th.idpanel{
    width: 85px;
    padding: 15px;
    text-align: center;
}
th.date{
    width: 150px;
    padding: 15px;
    text-align: center;
}
th.monto{
    width: 150px;
    padding: 15px;
    text-align: center;
}
th.description{
    width: 480px;
}
th.category{
    width: 9ch;
}
th.status{
    width: 90px;
}
th.action{
    width: 90px;
}
tbody{
    background: #f2f2f2;
}
td{
    padding: 15px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
#tdhd{
    padding: 15px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
td.idpanel{
    width: 85px;        
    padding: 15px;
    text-align: center;
}
td.date{
    width: 150px;
    padding: 15px;
    text-align: center;
}
td.monto{
    width: 150px;
    padding: 15px;
    text-align: center;
}
td.description{
    width: 480px;
}
td.category{
    width: 9ch;
}
td.status{
    width: 90px;
}
td.action{
    width: 90px;
}
tr:nth-child(even){
    background: #fff;
}
tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}
tfoot td{
    padding: 15px;
    color: #fff;
}
.table-container button{
    color: rgb(230, 101, 101);
    background: none;
    cursor: pointer;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.comunicado {
    background: rgb(111, 141, 241);
    border-radius: 10px;
    padding: 1.2rem;
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    flex-direction: column;
}





.button-36 {
    background-color: #6f63ba;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: default;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 120px;
    padding: 8px 12px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }
  
  @media (min-width: 768px) {
    .button-36 {
      padding: 16px 32px;
    }
  
    .button-36 h1 {
      font-size: 24px;
    }
  
    .button-36 p {
      font-size: 18px;
    }
  }
  
  @media (min-width: 1024px) {
    .button-36 {
      padding: 24px 48px;
    }
  
    .button-36 h1 {
      font-size: 32px;
    }
  
    .button-36 p {
      font-size: 24px;
    }
  }
  
  .tablaresumen td {
    border: 1px solid #dededf;
    background-color: #6f63ba;
    color: #ffffff;
    padding: 5px;
}
.tablaresumen2 thead td th {
    border: 1px solid #dededf;
    background-color: #6f63ba;
    color: #ffffff;
    padding: 5px;
}

.nopay {
    
    background: rgb(241, 111, 111);
    border-radius: 10px;
    padding: 1.2rem;
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}


iframe {
    width: 100%;
    height: 400px; /* or any other height you want */
    box-sizing: border-box;
    border: none;
  }